
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Home/userLayout.cshtml";
}
<link href="~/css/about.css" rel="stylesheet" />
<div class="container">
    <!--Title-->
    <div class="row justify-content-center">
        <div class="offset-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="about-title">The Webster Organisation</h1>
            <h3 class="about-us">About Our Organization</h3>
        </div>
        <div class="offset-lg-1"></div>
    </div>
</div>